.second_wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0e1; // Бежевый цвет
    display: flex;
    flex-direction: column;
 // Центрирование содержимого по вертикали
    position: relative;
    padding-bottom: 25px;
}


.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.8em 2em;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;

    h1{
        margin-bottom: 0px;
        padding-left: 10px;
    }

    h2{
        margin-bottom: 0px;
    }
}

.text_main_second_page{
    width: 900px;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 40px;
    font-size: 38px;
    line-height: 50px;
    color: #333;
    text-align: left
}

.main-container_second_page {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    //align-items: center;
    //justify-content: center;
    font-family: "Graphik LCG", Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.back_wrapper {
    width: 220px;
    max-width: 500px;
    display: flex;
    align-items: center; /* Центрирование текста и иконки по вертикали */
    padding-top: 18px;
    pointer-events: all;
    margin-left: 40px; /* Отступ от левого края экрана */
}

.icon_back {
    display: flex;
    align-items: center; /* Центрирование иконки по вертикали */
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.back_button_text {
    font-size: 17px;
    color: gray
}

.footer{
    position: sticky;
    bottom: 0;
}