* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Это убирает лишние отступы и корректно считает ширину */
}

.wrapper-diagnos {
    width: 100%;
    min-height: 100%; // Высота на весь экран
    background-color: #f0f0e1; // Бежевый цвет
    display: flex;
    flex-direction: row;
    position: relative;
}

.main-content {
    flex: 1; // Занимает оставшееся пространство
    display: flex;
    flex-direction: column;
}

.text_main{
    width: 600px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 40px;
    font-size: 38px;
    line-height: 50px;
    color: #333;
    text-align: left
}

.assistant_header {
    font-size: 1.5rem;
    color: #333;
}

.admin-panel {
    color: #5f5b5b;
    padding-top: 0.45em;
}

.scales {
    color: #5f5b5b;
    padding-left: 3em;
    padding-top: 0.45em;
}

.tables{
    color: #5f5b5b;
    padding-left: 3em;
    padding-top: 0.45em;
}

.main-container-diagnos {
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
    font-family: "Graphik LCG", Helvetica, Arial, sans-serif;
    text-align: center;
}

.filter-block{
    display: flex;
    padding: 0px 45px 0px 45px;
    justify-content: flex-end;
}

.filter{
    max-width: 200px;
    background-color: #E0E0C9;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    font-size: 20px;
    color: #2F4719;
    font-weight: bold;
    cursor: pointer;
}

.filter:hover{
    background-color: #d8d89d;
}

.add-spec-block{
    display: flex;
    padding: 0px 45px 0px 45px;
    justify-content: flex-start;
}

.add-spec:hover{
    background-color: #a0cf7c;
}

.header-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.change-button{
    font-size: 15px;
    color: #FAFBFA;
    padding: 5px 15px 5px 15px;
    background-color: #E5DB8E;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;

    &:hover{
        background-color: #dacd5f;
    }
}

.description-wrapper{
    display: flex;
    flex-direction: row;
    padding: 45px;
    justify-content: space-between;
    gap: 10px;
}

.description-block{
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 5px solid #88886C;
    border-radius: 10px;
    padding: 10px;
}

.description-spec{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spec-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.spec-item{
    font-size: 15px;
    color: #FAFBFA;
    padding: 5px 15px 5px 15px;
    background-color: #878F80;
    border-radius: 10px;
}

.description-code{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-text{
    font-size: 18px;
    padding-right: 15px;
}

.save-button-block{
    display: flex;
    align-items: end;
}

.save-button{
    display: flex;
    align-items: center;
    gap:  25px;
    max-width: 380px;
    background-color: #B9D1A7;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    font-size: 20px;
    color: #FAFBFA;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: #a0cf7c;
    }
}

.create-component-button{
    display: flex;
    align-items: center;
    gap:  10px;
    max-width: 380px;
    background-color: #DEE5D8;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    font-size: 20px;
    color: #204301;
    cursor: pointer;
    width: 290px;

    &:hover{
        background-color: #bdc0ba;
    }
}

.diagnos-plates-admin{
    padding: 0px 45px 45px 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inspection-body-admin, .medical_treatment-body-admin, .recomend-body-admin{
    background-color: #88886C;
    border-radius: 0px 10px 10px 10px;
    padding: 30px;
}

.inspection-admin-items, .medical_treatment-admin-items, .recomend-admin-items{
    margin-top: 15px;
    background-color: #C8C8A3;
    border-radius: 10px;
}

.inspection-headers-admin, .medical_treatment-headers-admin, .recomend-headers-admin{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #2F4719;
}

.main-header-admin{
    padding: 20px 25px 15px 25px;
    cursor: pointer;
}

.comment-header-admin{
    padding: 20px 25px 15px 25px;
    cursor: pointer;
}

.headCheck{
    color: #FFFFFF;
    font-size: 24px;
    background-color: #88886C;
    border-radius: 10px 10px 0px 0px;
}

.admin-change-button{
    color: #FAFBFA;
    padding: 13px;
    background-color: #E5DB8E;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    &:hover{
        background-color: #dacd5f;
    }
}

.admin-delete-button{
    color: #FAFBFA;
    padding: 13px;
    background-color: #F89696;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    &:hover{
        background-color: #eb6262;
    }
}

.inspection-admin-item, .medical_treatment-admin-item, .recomend-admin-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.crud-admin-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inspection-head-text-admin, .medical_treatment-head-text-admin, .recomend-head-text-admin{
    padding: 5px;
    background-color: #DEE5D8;
    border-radius: 10px;
    color: #204301;
    font-size: 20px;
    text-align: left;
}

.inspection-comment-text-admin, .medical_treatment-comment-text-admin, .recomend-comment-text-admin{
    margin-left: 5px;
    font-size: 16px;
    color: #60645D;
    margin-top: 5px;
}

.inspection-components-text-admin, .medical_treatment-components-text-admin, .recomend-components-text-admin{
    margin: 5px 0px 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.inspection-component-text-admin, .medical_treatment-component-text-admin, .recomend-component-text-admin{
    color: #60645D;
    font-size: 18px;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.component-ul-li{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.div-ul-li{
    display: block;
    flex-grow: 1;
}

.micro-delete{
    background-color: #F89696;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #eb6262;
    } 
}

.micro-change{
    color: white;
    background-color: #E5DB8E;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #dacd5f;
    }
}

.inspection-components-comment-text-admin, .medical_treatment-components-comment-text-admin, .recomend-components-comment-text-admin{
    font-size: 16px;
    color: #8C8E8A;
}

.inspection-body-admin-comments, .medical_treatment-body-admin-comments, .recomend-body-admin-comments{
    background-color: #88886C;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spec-med-treat{
    max-width: 500px;
}

.recomend-text-head{
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;
}

.section-under-box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.list-pdf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.item-pdf{
    background-color: #CE719E;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    color: #FAFBFA;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: #d46098;
    }
}

.item-item-pdf{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.delete-pdf{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 5px 7px 5px 7px;
    cursor: pointer;

    &:hover{
        background-color: rgb(221, 100, 100);
    }
}

.buttons-under-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.add-pdf{
    background-color: #CE719E;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    color: #FAFBFA;
    font-weight: bold;
    cursor: pointer;
    height: 50px;

    &:hover{
        background-color: #d46098;
    }
}

.button-save-pdf{
    background-color: #B9D1A7;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    color: #FAFBFA;
    font-weight: bold;
    cursor: pointer;
    height: 50px;

    &:hover{
        background-color: #a0cf7c;
    }
}

.name-item{
    font-size: 14px;
}

.inspection-admin-block{
    border: 2px solid #eaeae5;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}
.medical_treatment-admin-block{
    border: 2px solid #eaeae5;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.recomend-admin-block{
    border: 2px solid #eaeae5;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Поверх всего интерфейса */
}

/* Анимация лоадера */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #B9D1A7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loader-text{
    font-weight: bold;
    color: white;
}

.specialization-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.specialization-item{
    display: flex;
    flex-direction: row;
}

.spec-name{
    display: flex;
    flex-grow: 1;
}

.spec-name.highlight {
    font-weight: bold;
    color: #ff0000;
    background-color: #ffe7e7;
    border-radius: 4px;
}

.spec-input{
    width: none;
}

.popup2 {
    background: #F0F0E1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; // Ширина всплывающего окна
}

.popup2 h2 {
    margin: 0 0 10px;
}

.popup2 input {
    margin-right: 0px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}