.count-wrapper{
    padding-right: 50px;
}

.count-block{
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    flex-wrap: nowrap;
}