.wrapper_gallay {
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0e1;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.gallay_wrapper {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin-top: 25px; /* Увеличенный отступ между рядами */
    text-align: center;
}

.pictures_block_gallay {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 изображения в ряд */
    gap: 15px; /* Расстояние между кнопками увеличено */
    margin-top: 20px;
}

.gallay_header {
    font-family: "Graphik LCG", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px; /* Увеличенный отступ под заголовком */
}

.gallay_btn {
    border: 2px solid #e2e2e2; /* Серая обводка для невыбранных кнопок */
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease, border-color 0.2s ease; /* Добавлен плавный переход для изменения обводки */
}

.gallay_btn:hover {
    border-color: #888; /* Темно-серая обводка при наведении */
}

.gallay_btn.selected {
    border: 2px solid rgb(117, 185, 53); /* Изменение обводки при выборе кнопки */
}

.gallay_img {
    width: 90px;
    height: 110px;
}

.total_score {
    margin-top: 40px; /* Отступ над блоком с результатами */
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

h2, h3 {
    margin-bottom: 20px; /* Отступы под заголовками */
}

.pictures_block {
    margin-top: 10px; /* Отступы между блоками картинок */
    max-width: 80%; /* Центрирование и ограничение ширины блока */
    text-align: center;
}