.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1em 3em;
    position: absolute;
    top: 0;
    left: 0;
}

.assistant_header {
    font-size: 1.5rem;
    color: #333;
}

.menu_section {
    position: relative;

}

.calculators, .scales {
    font-size: 1rem;
    color: #5f5b5b;
    padding-top: 0.45em;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: max-content;
}

.dropdown li {
    padding: 0.5em 1em;
    font-size: 1rem;
    color: #5f5b5b;
}

.dropdown li:hover {
    background-color: #e9f1e9; // Легкий зеленый фон при наведении
    color: #2c8a2c; // Зеленый цвет текста при наведении
}

.dropdown a {
    text-decoration: none;
    color: inherit;
    display: block;
}