

.third_wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0e1; // Бежевый цвет
    display: flex;
    flex-direction: column;
 // Центрирование содержимого по вертикали
    position: relative;
    padding-bottom: 25px;
}

.text_main_third_page{
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 40px;
    font-size: 38px;
    line-height: 50px;
    color: #333;
    text-align: left
}

.main-container_third_page {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    //align-items: center;
    //justify-content: center;
    font-family: "Graphik LCG", Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.back_wrapper {
    width: 200px;
    display: flex;
    align-items: center; /* Центрирование текста и иконки по вертикали */
    padding-top: 18px;
    pointer-events: all;
    margin-left: 40px; /* Отступ от левого края экрана */
}

.icon_back {
    display: flex;
    align-items: center; /* Центрирование иконки по вертикали */
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.back_button_text {
    font-size: 17px;
    color: gray
}

.style_for_link{
    max-width: 400px;
}