.sidebar {
    min-height: 100%;
    min-width: 300px; // Ширина боковой панели
    background-color: #E0E0C9; // Цвет фона боковой панели
    padding: 20px 30px 30px 30px; // Отступы внутри боковой панели
}

.header-sidebar{
    font-size: 20px;
    font-weight: bold;
    color: #2F4719;
    margin-bottom: 70px;
    text-align: center;
}

.diagnosis-components{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.diagnosis-item{
    min-width: 260px;
    padding: 12px 15px 12px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #88886C;
    border-radius: 10px;
    color:  #FAFBFA;
    cursor: pointer;

    &:hover{
        background-color: #F0F0E1;
        color:  #88886C;
    }

    &.active{
        background-color: #F0F0E1;
        color:  #88886C;
    }
}