.medical_treatment_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 45px; /* Отступы от краев экрана */
}

.medical_treatment_block{
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    width: 54%;
    max-width: 1000px;
    min-width: 550px;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(71, 25, 53, 0.03) 0px 7px 9px;
    border-radius: 3px;
    pointer-events: all;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.header_medical_treatment{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 24px 32px 16px;
    color: rgb(47, 71, 25);
    border-bottom: 1px solid rgb(238, 233, 236);
}

.text_medical_treatment{
    font-size: 22px;
    line-height: 22px;
}

.text_icon{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.text_comments{
    color: rgb(73, 116, 33);
    font-size: 17px;
    line-height: 23px;
    transition: 300ms;
}

.icon_book{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.main_medical_treatment{
    align-items: center;
    width: 100%;
    padding: 8px 32px 18px;
}

.medical_medical_treatment {
    flex-direction: column; /* Элементы будут располагаться вертикально */
    padding: 12px 0px;
}

.medical_treatment_header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 24px 0px 12px;
    color: rgb(47, 71, 25);
    border-bottom: 1px solid rgb(238, 233, 236);
    cursor: pointer;
}

.medical_treatment_info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 12px 0px 0px;
    cursor: pointer;
    text-align: left;
}

.check_icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.header_info {
    font-size: 17px;
    line-height: 24px;
    text-align: left;
}

.openRadio_icon {
    padding: 0;
    border: none;
    background: none;
    margin-left: auto; /* Небольшой отступ слева от текста */
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.openRadio_icon.rotated {
    transform: rotate(180deg); /* Поворот иконки на 180 градусов при нажатии */
}

.medical_medical_info {
    font-size: 15px;
    line-height: 24px;
    color: gray;
}

.medical_treatment_comments {
    font-size: 13px;
    line-height: 19px;
    opacity: 0.8;
    margin-left: 36px; /* Выравнивание комментариев под текстом и иконкой */
    max-width: 100%; /* Растягиваем на ширину блока */
    color: gray;
    text-align: left;
}

.radio_wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    margin-top: 22px;
    transition: max-height 0.3s ease;
}

.radio_info{
    width: 100%;
    color: rgb(181, 163, 174);
    cursor: pointer;
    user-select: none;
    transition: color 300ms;
}

.radio_treatment_info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 8px 0px 10px;
    color: rgb(71, 25, 53);
    cursor: pointer;
}

.radio_medical_info{
    display: flex;
    font-size: 15px;
    line-height: 23px;
    color: grey;
}